In [1]:
# Import Packages
import pandas as pd, numpy as np
from pathlib import Path
import os, sys, glob, re

# Define input and output files

In [2]:
def parent_dir(dir):
    return os.path.abspath(os.path.join(dir, os.pardir))

In [3]:
# Define input folder containing output from combined BoardEx files
inputfilepath = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/02_get_initial_datasets/02.2_boardex_combined/Board Summary.csv'))
print('inputfilepath:', inputfilepath, inputfilepath.__class__)
# Define output folder containing firm-level dataset
outputfilepath = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/03_get_firm_and_manager_level_datasets/board_summary_isins.txt'))
print('outputfilepath:', outputfilepath, outputfilepath.__class__)

inputfilepath: C:\Users\jasonjia\Dropbox\projects\manager_and_board_characteristics\Board Charac_Jason\output\02_get_initial_datasets\02.2_boardex_combined\Board Summary.csv <class 'pathlib.WindowsPath'>
outputfilepath: C:\Users\jasonjia\Dropbox\projects\manager_and_board_characteristics\Board Charac_Jason\output\03_get_firm_and_manager_level_datasets\board_summary_isins.txt <class 'pathlib.WindowsPath'>

# Import Board Summary

In [4]:
df = pd.read_csv(inputfilepath, low_memory=False)
df

,Ratios - Wealth Delta,Total - Total Annual Compensation,Annual Report Year,Annual- Equity Linked Options - Intrinsic Options (excercisable),Director Type,Characteristics of Roles - Time on Board,Accumulated Wealth - LTIPS(max),Ratios - Bonus/ (Bonus&Salary),Annual- Equity Linked Options - Total Equity Linked Compensation,Annual- Equity Linked Options - Share Price,...,Sector,Director Experience - Total Number of Quoted Current Boards,Characteristics of Roles - Time in Role,Director Experience - Gender,inputfilestem,region,mgmt_type,workbook_name,fragment_number,sheet_name
0,2.0,NaN,Current,NaN,SD,3.2,NaN,NaN,NaN,NaN,...,Investment Companies,2.0,3.2,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
1,0.0,NaN,Current,NaN,SD,1.2,NaN,NaN,NaN,NaN,...,Investment Companies,2.0,1.2,F,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
2,1.0,NaN,Current,NaN,SD,8.0,NaN,NaN,NaN,NaN,...,Investment Companies,1.0,4.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
3,NaN,NaN,Current,NaN,SD,6.9,NaN,NaN,NaN,NaN,...,Investment Companies,1.0,6.9,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
4,1.0,NaN,Current,NaN,SD,6.3,NaN,NaN,NaN,NaN,...,Investment Companies,1.0,6.3,M,Europe - Board Summary,Europe,Director,Board Summary,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568524,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,...,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568525,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,...,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568526,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,...,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568527,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,...,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN
1568528,NaN,NaN,Jun 2016,NaN,SM,NaN,NaN,NaN,NaN,NaN,...,Business Services,NaN,NaN,NaN,UK - SMDEs Org Summary,UK,SMDE,SMDEs Org Summary,NaN,NaN

# Get list of unique ISINs, company IDs and company names

In [5]:
print('Number of unique (ISIN) combinations:', df[['ISIN']].drop_duplicates().shape[0])
print('Number of unique (ISIN, Company ID) combinations:', df[['ISIN', 'CompanyID*']].drop_duplicates().shape[0])
print('Number of unique (ISIN, Company Name) combinations:', df[['ISIN', 'Company Name']].drop_duplicates().shape[0])
print('Number of unique (Company ID) combinations:', df[['CompanyID*']].drop_duplicates().shape[0])
print('Number of unique (Company ID, Company Name) combinations:', df[['CompanyID*', 'Company Name']].drop_duplicates().shape[0])
print('Number of unique (Company Name) combinations:', df[['Company Name']].drop_duplicates().shape[0])
print('Number of unique (ISIN, Company ID, Company Name) combinations:', df[['ISIN', 'CompanyID*', 'Company Name']].drop_duplicates().shape[0])

Number of unique (ISIN) combinations: 3226
Number of unique (ISIN, Company ID) combinations: 3249
Number of unique (ISIN, Company Name) combinations: 3249
Number of unique (Company ID) combinations: 3249
Number of unique (Company ID, Company Name) combinations: 3249
Number of unique (Company Name) combinations: 3249
Number of unique (ISIN, Company ID, Company Name) combinations: 3249

In [6]:
# View df of unique (ISIN, Company ID, Company Name) combinations
df[['CompanyID*', 'ISIN', 'Company Name']].drop_duplicates()

,CompanyID*,ISIN,Company Name
0,9811997164,JE00BF5FX167,3I INFRASTRUCTURE PLC (3i Infrastructure Ltd p...
97,3552310896,DK0010253921,A/S SCHOUW & CO
201,24982801,IT0001233417,A2A SPA
501,947432828,DE0005408116,AAREAL BANK AG
855,14501792,CH0012221716,ABB LTD
...,...,...,...
533982,837912719,GB0031698896,WILLIAM HILL PLC
534131,428697608,GB00B67G5X01,WORKSPACE GROUP PLC (London Industrial PLC pri...
534325,24259147400,GB00BYYK2V80,WORLDPAY GROUP PLC (De-listed 01/2018)
534349,429577695,JE00B8KF9B49,WPP PLC (WPP Group prior to 11/2008)
534670,8113811537,GB00B1VK7X76,XCHANGING PLC (De-listed 06/2016)

In [7]:
df.columns

Index(['Ratios - Wealth Delta', 'Total - Total Annual Compensation',
       'Annual Report Year',
       'Annual- Equity Linked Options - Intrinsic Options (excercisable)',
       'Director Type', 'Characteristics of Roles - Time on Board',
       'Accumulated Wealth - LTIPS(max)', 'Ratios - Bonus/ (Bonus&Salary)',
       'Annual- Equity Linked Options - Total Equity Linked Compensation',
       'Annual- Equity Linked Options - Share Price', 'Individual Name',
       'Annual- Equity Linked Options - LTIPS(max)',
       'Director Experience - Total Number of Private Current Boards',
       'Annual Direct Compensation - Salary',
       'Director Experience - Total Number of Other Current Boards',
       'DirectorID*', 'Accumulated Wealth - Intrinsic Option',
       'Accumulated Wealth - Estimated Option',
       'Annual Direct Compensation - Total Salary+Bonus',
       'Annual- Equity Linked Options - Shares',
       'Director Experience - Nationality Mix', 'Index', 'Ticker',
       'Director Experience - Total Number of Private Boards to Date',
       'CompanyID*', 'Accumulated Wealth - Liquid Wealth',
       'Annual Direct Compensation - Total Inc. D.C. Pension & Other',
       'Annual- Equity Linked Options - Intrinsic Options (unexercisable)',
       'Director Experience - Total Number of Quoted Boards to Date',
       'Ratios - %Change from Last Period', 'Total Wealth - Total Wealth',
       'Country', 'Annual Direct Compensation - Bonus',
       'Ratios - Performance/ Total',
       'Director Experience - Number of Qualifications',
       'Director Experience - Age (Yrs)', 'Company Name',
       'Annual- Equity Linked Options - Estimated Options (unexcercisable)',
       'Annual- Equity Linked Options - Vesting Date',
       'Director Experience - Avg. Yrs on Other Quoted Boards',
       'Characteristics of Roles - Individual Role',
       'Annual Direct Compensation - D.C Pension',
       'Characteristics of Roles - Director Network Size',
       'Director Experience - Total Number of Other Boards to Date',
       'Annual- Equity Linked Options - Estimated Options (exercisable)',
       'Annual Direct Compensation - Other', 'Accumulated Wealth - Shares',
       'Characteristics of Roles - Time to Retirement',
       'Director Count Totals - Number of Independent NED with past CFO/FD role',
       'ISIN', 'Ratios - Equity Linked/ Total',
       'Characteristics of Roles - Time in Company', 'Sector',
       'Director Experience - Total Number of Quoted Current Boards',
       'Characteristics of Roles - Time in Role',
       'Director Experience - Gender', 'inputfilestem', 'region', 'mgmt_type',
       'workbook_name', 'fragment_number', 'sheet_name'],
      dtype='object')

In [8]:
# Get df of unique ISINs
df_output = df[['ISIN']].drop_duplicates()

# Some rows have two or more ISINs separated by ','. Take only the first ISIN using regex.
df_output['ISIN'] = df_output['ISIN'].str.split(',').str[0]

# Save as txt file (to be fed into WRDS later on)
df_output.to_csv(outputfilepath, index=False, header=False)
df_output

                ISIN
0       JE00BF5FX167
97      DK0010253921
201     IT0001233417
501     DE0005408116
855     CH0012221716
...              ...
533982  GB0031698896
534131  GB00B67G5X01
534325  GB00BYYK2V80
534349  JE00B8KF9B49
534670  GB00B1VK7X76

[3226 rows x 1 columns]

# Next steps: Map firm identifier (e.g. ISIN) in BoardEx to gvkeys in Compustat
- Initially we wanted to map Company IDs to gvkeys, but we don't have access to the [BoardEx CRSP Compustat Link (Beta)](https://wrds-www.wharton.upenn.edu/pages/get-data/linking-suite-wrds/boardex-crsp-compustat-link/).
- Instead, we use the [Compustat Global - Fundamentals Annual](https://wrds-www.wharton.upenn.edu/pages/get-data/compustat-capital-iq-standard-poors/compustat/global-daily/fundamentals-annual/) crosswalk to map ISINs to gvkeys.
- While there's no option to select gvkey as a desired output column, it will automatically be included in the output.

In [9]:
# Read in ISIN to gvkey crosswalk
isin_gvkey_crosswalk_filepath = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/03_get_firm_and_manager_level_datasets/board_summary_isin_gvkey_crosswalk.csv'))
isin_gvkey_crosswalk = pd.read_csv(isin_gvkey_crosswalk_filepath)
isin_gvkey_crosswalk

,gvkey,fyear,datadate,isin,conm,cik
0,1166,1996.0,1996-12-31,NL0000334118,ASM INTERNATIONAL NV,351483.0
1,1166,1997.0,1997-12-31,NL0000334118,ASM INTERNATIONAL NV,351483.0
2,1166,1998.0,1998-12-31,NL0000334118,ASM INTERNATIONAL NV,351483.0
3,1166,1999.0,1999-12-31,NL0000334118,ASM INTERNATIONAL NV,351483.0
4,1166,2000.0,2000-12-31,NL0000334118,ASM INTERNATIONAL NV,351483.0
...,...,...,...,...,...,...
26858,331614,2018.0,2018-12-31,IT0005366767,NEXI S.P.A.,NaN
26859,331614,2019.0,2019-12-31,IT0005366767,NEXI S.P.A.,NaN
26860,331614,2020.0,2020-12-31,IT0005366767,NEXI S.P.A.,NaN
26861,331614,2021.0,2021-12-31,IT0005366767,NEXI S.P.A.,NaN
26862,331614,2022.0,2022-12-31,IT0005366767,NEXI S.P.A.,NaN

In [10]:
# Get unique (ISIN, gvkey) combinations
isin_gvkey_crosswalk = isin_gvkey_crosswalk[['gvkey', 'isin']].drop_duplicates()
isin_gvkey_crosswalk

        gvkey          isin
0        1166  NL0000334118
27       1932  GB0002875804
61       2338  GB00BMHTPY25
88       5650  JP3788600009
124      7471  JP3893600001
...       ...           ...
26805  325660  DK0060907293
26822  325693  FR0013214145
26833  326213  AEA006101017
26841  327439  FI4000312251
26856  331614  IT0005366767

[1083 rows x 2 columns]

# Merge gvkeys to firm-level dataset on ISINs

In [13]:
# Merge this back to Board Summary
df_firm_filepath = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/03_get_firm_and_manager_level_datasets/boardex_firm_level_dataset.csv'))
df_firm = pd.read_csv(df_firm_filepath)

# Get first ISIN for each firm
df_firm['isin'] = df_firm['isin'].str.split(',').str[0]

# Merge with gvkeys
df_firm_gvkey = df_firm.merge(isin_gvkey_crosswalk, on='isin', how='left')

# Save df_firm_gvkey
df_firm_gvkey_filepath = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/03_get_firm_and_manager_level_datasets/boardex_firm_level_dataset_gvkey.csv'))
df_firm_gvkey.to_csv(df_firm_gvkey_filepath, index=False)
df_firm_gvkey_filepath = Path(parent_dir(parent_dir(os.getcwd())) / Path('output/03_get_firm_and_manager_level_datasets/boardex_firm_level_dataset_gvkey.csv'))
df_firm_gvkey.to_stata(df_firm_gvkey_filepath, write_index=False, version=117)

df_firm_gvkey

,year,company_id,company_name,sector,country,isin,director_network_size,time_to_retirement,time_in_role,time_on_board,...,cfo_time_on_board,cik_code,auditors,latest_ar,bankers,index,ticker,market_cap,ho_country_name,gvkey
0,2002,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,654.333333,7.681818,8.225000,10.500000,...,NaN,67716.0,Deloitte & Touche LLP,Dec 2020,NaN,S&P MID CAP 400,MDU,6347,United States,NaN
1,2003,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,676.882353,9.283333,6.984615,8.690909,...,NaN,67716.0,Deloitte & Touche LLP,Dec 2020,NaN,S&P MID CAP 400,MDU,6347,United States,NaN
2,2004,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,734.650000,9.483333,7.800000,8.883333,...,NaN,67716.0,Deloitte & Touche LLP,Dec 2020,NaN,S&P MID CAP 400,MDU,6347,United States,NaN
3,2005,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,667.541667,10.233333,6.084615,7.383333,...,NaN,67716.0,Deloitte & Touche LLP,Dec 2020,NaN,S&P MID CAP 400,MDU,6347,United States,NaN
4,2006,270810,MDU RESOURCES GROUP INC,Utilities - Other,United States,US5526901096,679.000000,10.481818,5.841667,7.730000,...,NaN,67716.0,Deloitte & Touche LLP,Dec 2020,NaN,S&P MID CAP 400,MDU,6347,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45162,2021,32486024918,NEXPOINT REAL ESTATE FINANCE INC,Real Estate,United States,US65342V1017,2088.444444,3.020000,1.133333,1.133333,...,NaN,1786248.0,KPMG US LLP,Feb 2020,NaN,NaN,NREF,102,United States,NaN
45163,2020,32878955509,WARNER MUSIC GROUP CORP (WMG),Media & Entertainment,United States,US9345502036,1691.533333,8.620000,0.000000,0.000000,...,NaN,131961.0,KPMG US LLP,Jun 2020,NaN,NaN,WMG,4146,United States,NaN
45164,2021,32878955509,WARNER MUSIC GROUP CORP (WMG),Media & Entertainment,United States,US9345502036,1550.595745,8.800000,0.772727,0.772727,...,NaN,131961.0,KPMG US LLP,Jun 2020,NaN,NaN,WMG,4146,United States,NaN
45165,2020,33703886583,VONTIER CORP,Automobiles & Parts,United States,US9288811014,2069.736842,10.220000,0.000000,0.000000,...,NaN,1786842.0,Ernst & Young LLP (US),Oct 2020,NaN,S&P MID CAP 400,VNT,5163,United States,NaN
45166,2021,33703886583,VONTIER CORP,Automobiles & Parts,United States,US9288811014,2402.600000,10.728571,0.375000,0.375000,...,NaN,1786842.0,Ernst & Young LLP (US),Oct 2020,NaN,S&P MID CAP 400,VNT,5163,United States,NaN